.landing-home-img { 
  padding-top: 20%;
}
.btnRed{
  background-color: var(--colorRed);
  color: #FFFFFF; 
  height: 40px;
  width: 100%;
  text-align: left;  
}
.margin-left-5{
  margin-left: 5px;
}
.icon-Width-20{
  height: 20px;
  width:20px;
}
