<ion-content class="bg-Landing">
  <ion-grid>
    <ion-row>
      <ion-col float-left>
        <ion-icon class="back-icon"
          routerLink="/"
          name="chevron-back-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center
        size="12">
        <img class="landing-home-img ion-text-center"
          src="assets/images/BeeKeeLogo.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="none"
          lines="none"
          class="ion-text-center">
          <span fixed
            class="pad-top-4 full-width"><b>{{appData.resetPassword}}</b></span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="12">
        <ion-item color="none"
        class="ion-text-center"
          lines="none">
          <span fixed
            class="pad-top-4"><b>{{appData.resetPasswordInfo}}</b></span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="frmResetPassword"
    novalidate>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-icon name="briefcase-outline"
              slot="start"></ion-icon>
            <ion-input autocorrect="on"
              autofocus="on"
              formControlName="verificationCode"
              clearInput="true"
              clearOnEdit="true"
              inputmode="text"
              placeholder="{{appData.enterVerificationCode}}"
              required="true">
            </ion-input>
            <div *ngIf="(formcontrols.controls.verificationCode.errors && formcontrols.controls.verificationCode.touched)">
              <div *ngIf="formcontrols.controls.verificationCode.errors"
                class="alertdanger">
                <div *ngIf="formcontrols.controls.verificationCode.errors.required">
                  {{appData.verificationCodeRequired}}
                </div>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-icon name="key-outline"
              slot="start"></ion-icon>
            <ion-input formControlName="newPassword"
              clearInput="true"
              inputmode="text"
              placeholder="{{appData.newPassword}}"
              required="true">
            </ion-input>
            <div *ngIf="(formcontrols.controls.newPassword.errors && formcontrols.controls.newPassword.touched)"
              class="alertdanger">
              <div *ngIf="formcontrols.controls.newPassword.errors.required">{{appData.passwordRequired}}</div>
              <div *ngIf="formcontrols.controls.newPassword.errors.invalidPassword">{{appData.validationPassword}}</div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-icon name="key-outline"
              slot="start"></ion-icon>
            <ion-input formControlName="confirmPassword"
              clearInput="true"
              inputmode="text"
              placeholder="{{appData.confirmNewPassword}}"
              required="true">
            </ion-input>
            <div *ngIf="(formcontrols.controls.confirmPassword.errors && formcontrols.controls.confirmPassword.touched)"
              class="alertdanger">
              <div *ngIf="formcontrols.controls.confirmPassword.errors.required">{{appData.confirmPasswordRequired}}</div>
              <div *ngIf="formcontrols.controls.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="textCenter pad-top-4">
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-button (click)="onReset()"
            text-capitalize="false"
            btnReset
            type="submit"
            class="full-width"
            [disabled]="!frmResetPassword.valid">{{appData.reset}}
          </ion-button>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>